%% == Erlang Compiler ==

{minimum_otp_vsn, "19.3"}.
{erl_opts, [
    warnings_as_errors,
    debug_info,
    %warn_missing_spec_all,
    warn_export_vars,
    warn_unused_import
]}.
{extra_src_dirs, ["benchmarks", "examples"]}.

%% == Dependencies ==

{deps, []}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        underspecs,
        unmatched_returns,
        error_handling,
        unknown
    ]}
]}.

%% == xref ==

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

%% == Profiles ==

{profiles, [
    {'test', [
        {erl_opts, [
            nowarn_missing_spec,
            nowarn_missing_spec_all,
            warnings_as_errors
        ]},
        {deps, [{meck, "0.9.0"}]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {xref_extra_paths, ["./test"]},
        {extra_src_dirs, ["./test"]},
        {dialyzer, [{warnings, []}]}
    ]}
]}.

%% == shell ==

{shell, [
    {apps, [mustache]}
]}.
